/* Change checkbox box color */
:where(.css-dev-only-do-not-override) .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #27a376 !important; /* Change checkbox background */
    border-color: #27a376 !important; /* Change checkbox border */
  }
  
  /* Change hover effect color */
  :where(.css-dev-only-do-not-override) .ant-checkbox:hover .ant-checkbox-inner {
    border-color: #27a376 !important; 
  }
  
  /* Change tick mark color */
  :where(.css-dev-only-do-not-override) .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: white !important; 
  }
  